body{
    background-color: yellow;
    color: white;
}
#nav,a{
    list-style: none;
    text-decoration: none;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}